# Fichiers auxiliaires de LaTeX et Biber
*.aux
*.log
*.blg
*.out
*.toc
*.lot
*.lof
*.bbl        # Le fichier bbl (même si vous le nettoyez, il ne doit pas être suivi)
*.bcf        # Biber Control File
*.run.xml    # Fichier temporaire de latexmk/biber
*.fdb_latexmk # Fichier de base de données de latexmk